body {
    background-color: #333;
}
.corpo{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
}
.tableArea{
    margin-top:5%;
    width:60vw;
}
.text-white{
    color:white;
}
.uk-text-lead{
    color:white;
}
.title {
    grid-column: span 11;
    display: flex;
    align-items: center;
}
.red {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg,#f0506e 0%, #f0506e 75%, #333 75%, #333 100%);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 1%;
}
.btn {
    background: linear-gradient(90deg,#333 0%, #333 50%, #f0506e 50%, #f0506e 100%);
    border: 1px solid #999;
    background-size: 400% 400%;
    transition: linear 0.5s;
}
    .btn:hover {
        background-position: 100% 100%;
        border: 1px solid #f0506e;
        color:white;
    }

.uk-table{
    background-color:#222;
}
.uk-table tbody tr:hover{
    background-color: #333;
    transition: 1s;
}
.pulse {
    margin-right:10px;
    background: radial-gradient(circle,#333 0%, #333 1%, #f0506e 1%, #f0506e 100%);
    border-radius:1000px;
}
.pulse:hover{
    color:white;
    background: radial-gradient(circle,#333 0%, #333 1%, #f0506e 1%, #f0506e 100%);
}
    .pulse:hover {
        animation: pulse-black 1.5s infinite;
    }

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}