body {
    background-color: #333;
    margin:0;
    padding:0;
}
.cardArea{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family:Consolas;
}
.cardContainer {
    width: 30vw;
    height: 20vh;
    position:relative;
    display:flex;
    justify-content:space-between;
}
.cardContainer .mycard{
    position:relative;

}
    .cardContainer .mycard .face {
        position: relative;
        width:30vw;
        transition:0.5s;
    }
        .cardContainer .mycard .face.face1 {
            position: relative;
            height: 20vh;
            background: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            cursor: pointer;
        }
        .cardContainer .mycard .face.face1 .conteudo{
            opacity:0.6;
            transition:0.5s;
            cursor:pointer;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            align-items:center;
            color:white;
            text-decoration:none;
        }
        .cardContainer .mycard:hover .face.face1 .conteudo {
            opacity: 1;
        }
    .cardContainer .mycard .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        height: 18vh;
        z-index: 1;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0,0,0,0.8);
        transform: translateY(-19vh);
    }

    .cardContainer .mycard:hover .face.face2 {
        transform: translateY(0vh);
    }
    .cardContainer .mycard:hover .face.face1 {
        background-color: #f0506e;
    }

.bg{
    color:white;
    font-size:48px;
}
.btn {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border: solid 1px #f0506e;
    background-color: rgba(198, 26, 16,0);
    color: #ff0057;
}
    .btn:hover {
        background-color: #f0506e;
        color: white;
    }